<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
<div>Привет,пользователь</div>
<a href="/greeting/main">Главная Страница</a>
</body>
</html>